[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
max_connections = {{ max_connections }}
# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="{{ cluster_name }}"
wsrep_cluster_address="gcomm://{{ hostvars['visp-1'].ansible_host }},{{ hostvars['visp-2'].ansible_host }},{{ hostvars['visp-3'].ansible_host }}"

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address="{{ ansible_host }}"
wsrep_node_name="{{ inventory_hostname }}"